---
import Layout from '@/layouts/Layout.astro'
import { indexCss } from '@/components/views/TopPage.css'

const meta = {
  title: 'DemoSite',
}
---

<Layout meta={meta}>
  <div class={indexCss.box}>
    <p>Index Page</p>
  </div>
</Layout>
