---
// import SpotList from '@/components/views/spot/SpotList.astro'
import Layout from '@/layouts/Layout.astro'

const meta = {
  title: 'DemoSite',
}
---

<Layout meta={meta}>
  <p>OK</p>
  <!-- <SpotList /> -->
</Layout>
