---
import type { SpotType as Props } from './spot.types'
import { md } from '@/utils/md'

const { spot } = Astro.props
const spotImage = `/static/img/spots/mv-${spot.id}.jpg`
const spotBody = md.render(spot.body as string)
---

<div class='c-spot-detail'>
  <div class='container py-6'>
    <div class='title is-1'>{spot.title}</div>

    <div class='c-spot-detail__img'>
      <div class='box'>
        <img src={spotImage} alt='' />
      </div>
    </div>

    <div class='content'>
      <div class='c-spot-detail__content' set:html={spotBody} />
    </div>

    <div class='buttons is-centered'>
      <a href='/' class='button is-medium is-rounded'>一覧に戻る</a>
    </div>
  </div>
</div>

<style lang='scss' is:global>
  @import './SpotDetail.scss';
</style>
