---
import '@/styles/global.scss'
import { MyContainer } from '@/components/ui/MyContainer'
import { MyFooter } from '@/components/ui/MyFooter'
import { MyHeader } from '@/components/ui/MyHeader'
import { style } from '@vanilla-extract/css'
// import MyHeader from '@/components/ui/MyHeader.astro'

export interface Props {
  meta: {
    title: string
    description?: string
  }
}
export type MetaType = Props
const { meta } = Astro.props
---

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{meta.title}</title>

    <!-- <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'
    /> -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <MyHeader />
    <main>
      <MyContainer>
        <slot />
      </MyContainer>
    </main>
    <MyFooter />
  </body>
</html>
